@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p>Thank you for checking out this page, please contact me on the below email for any questions.</p>
<address>
    <strong>Support:</strong>   <a href="mailto:manqeleb@gmail.com">Babalo Manqele</a><br />
</address>