@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rank Interactive</h1>
    <p class="lead">
        <h2>Who are we?</h2>
        We're better known for our brands, Mecca Bingo and Grosvenor Casinos. With around 140 retail locations, we're one of the biggest gaming companies across the UK. We also have a large selection of online digital games that cover all areas of play.

        Our ambition is to become a £1 billion revenue international gaming company by 2023. Our focuses are to create a compelling multi-channel offering to our customer, build digital capability and scale, continuously evolve our venues, improve our customer experience and be committed to safe and fair gaming.
    </p>
    <p><a href="https://www.linkedin.com/company/rank-interactive/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <h2>Our Values</h2>
        <p>
            Rank is made up of enthusiastic and committed individuals, who have a desire to deliver the best experience for our customers.
            <ul>
                <li><strong>Service:</strong> We start with the customer. We do everything in our power to deliver special service every time</li>
                <li><strong>Teamwork:</strong> We pull together across brands, channels and locations to perform at our very best</li>
                <li><strong>Ambition:</strong> We challenge the way we do things and explore new ways to excite and entertain our customers and outshine the competition</li>
                <li><strong>Responsibility:</strong> We understand our responsibility to all in our communities. We act with the highest integrity and honesty in everything we do</li>
                <li><strong>Solutions:</strong> We act positively to get to the heart of problems quickly and find ways to solve them</li>
            </ul> 
        </p>
    </div>
</div>